body{
font-family: 'Spirax', cursive;
box-sizing: content-box;
display: block;
background-color: #f1f8e9;
}
header{
    display: block;
    background-size: cover;
    text-shadow: 1px 2px white;
}
.parallax{
background-size: cover;  
}

p {
    font-family: 'Franklin Gothic Medium';
}

a {
    color:green;
}

span {
    text-shadow: black 2px 2px;
}

h1 {
    text-align: center;
    text-shadow: white 2px 2px;
}

h2 {
    color: black;
    text-shadow: white 2px 2px;

}

sup{
    font-size: 30%;
}

.nav-link{
width: 50px;
font-size: 150%;
color: black;
}

img{
    -webkit-border-radius: 5px 10px;
    position: relative;
    display: block;
    box-sizing: content-box;
}

@media screen and (min-width: 670px)
{
    opacity: 1;
}

